{% set unknown = '<i class="text-muted">unknown</i>' %}

{{ _view.assign('title', __d('payment-payline', 'Wallet check')) }}
{{ _view.assign('page-title', __d('payment-payline', "Wallet for payment mean `{0}`", paymentMean.getPaymentGateway().getPrettyName())) }}

<div class="row">
    <div class="col-xs-12 col-lg-2">
        <div class="info-box">
            <span class="info-box-icon bg-{{ response.success ? 'green' : 'red' }}">
                <i class="glyphicon glyphicon-{{ response.success ? 'ok' : 'remove' }}"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">{{ __d('payment-payline', "Status") }}</span>
              <span class="info-box-number">{{ response.success ? 'OK' : 'Error' }}</span>
            </div>
        </div>
    </div>
</div>

{% if response.success %}
<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title align-to-button">
                    <i class="fa fa-cog"></i>&nbsp;
                    {{ __d("payment-means", "Wallet informations") }}
                </h3>
            </div>
            <div class="box-body">
                <dl class="inline">
                    <div class="line clearfix">
                        <dt>{{ __d('payment-payline', "Wallet ID") }}</dt>
                        <dd>{{ response.wallet.walletId|default(unknown)|raw }}</dd>
                    </div>
                    <div class="line clearfix">
                        <dt>{{ __d('payment-payline', "Firstname") }}</dt>
                        <dd>{{ response.wallet.firstname|default(unknown)|raw }}</dd>
                    </div>
                    <div class="line clearfix">
                        <dt>{{ __d('payment-payline', "Lastname") }}</dt>
                        <dd>{{ response.wallet.lastname|default(unknown)|raw }}</dd>
                    </div>
                    <div class="line clearfix">
                        <dt>{{ __d('payment-payline', "E-mail") }}</dt>
                        <dd>{{ response.wallet.email|default(unknown)|raw }}</dd>
                    </div>
                    <div class="line clearfix">
                        <dt>{{ __d('payment-payline', "Card") }}</dt>
                        <dd>{{ response.wallet.card.number|default(unknown)|raw }}</dd>
                    </div>
                </dl>
            </div>
        </div><!-- /.box-header -->
    </div>
</div>
{% else %}
<strong>{{ response.result.code }} — {{ response.result.longMessage }}</strong>
{% endif %}
